.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #fff;
}

input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    max-width: 80%;
    outline: none;

}

button{
    background: #ff9800;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}

button:hover{
    background: #e87c00;
    
}